.logout-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logout-content-h2 {
    color: #8d7b6b;
    font-weight: bold;
    z-index: 1;
}